.card-wrapper {
  padding: 30px;
  background: #ececec;
}

.activity-edit-delete {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.activity-edit {
  margin-right: 10px;
}

@media (max-width: 640px) {
  .site-card-border-less-wrapper {
    padding: 20px;
  }

}





