

.userProfile-img {
  max-width: 600px;
  max-height: 600px;
  margin: 0 auto;
}

.userProfile-container{
  padding: 10px;
}

.userProfile-info h1 {
  font-weight: 700;
  font-size: 2rem;
}

.userProfile-info h4 {
  font-size: 1rem;
}


@media (max-width: 640px) {

  .ant-card-body {
  padding: 15px;
  }

}





