.privateProfilePageCard > .ant-card-cover {
  max-width: 825px;
  max-height: 550px;
  margin: 0 auto;
}

.userProfileImg {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.userInfoContainer{
  padding: 10px;
}

.userProfileInfo h1 {
  font-weight: 700;
  font-size: 2rem;
}

.userProfileInfo h4 {
  font-size: 1rem;
}

@media (max-width: 640px) {

  .privateProfilePageCard > .ant-card-body {
    padding: 15px;
  }

  .privateProfilePageCard > .ant-card-cover {
    margin: 0 auto;
}

}





